mixin projectCard(project = {})
  .project
    .project__hero
      .project__actions
        .project__action.project__action--edit
          a(href=`/project/${project._id}/edit/info`)
            != h.icon('pencil')
      img(src=`${project.cover || 'store.png'}`)
      h2.title 
        a(href=`/project/${project.slug}`) #{project.name}
    .store__details
      p= project.tagline.split(' ').slice(0,25).join(' ')