mixin projectCard(project = {})
  .project
    .project__hero
      .project__actions
        .project__action.project__action--edit
          if user
            if user._id == project.user
              a(href=`/project/${project._id}/edit/info`)
                != h.icon('pencil')
      img(src=`${project.cover || '/uploads/store.png'}`)
      h2.title 
        a(href=`/project/${project.slug}`) #{project.name}
    .store__details
      p(style={'padding' : '0px 10px'})= project.tagline.split(' ').slice(0,25).join(' ')
      ul(style={'padding' : '0px 10px'}).tags
        each tag in project.tags
          .tag.tag__link
            input(type="checkbox" style={'display':'none'} id=tag value=tag name="tags")
            label(for="choice" class="tag__text")=  tag