mixin projectCard(project = {})
  .project
    .project__hero(style="height:150px;")
      .project__actions
        .project__action.project__action--edit
          if user
            if user._id == project.user
              a(href=`/project/${project._id}/edit/info`)
                != h.icon('pencil')
      img(src=`${project.cover || '/uploads/store.png'}`) 
    a(href=`/project/${project.slug}` class="store__details") 
      ul(style={'padding' : '0px 10px;margin-top:30px;'}).tags
        each tag in project.tags
          .categories(style="color:#949494;font-size:12px;")
            label(for="choice" class="tag__text" style="padding:.4rem .6rem")=  tag
      p(style={'padding' : '0px 10px'}) 
        span(style="font-weight:600")= project.name  
        |  - 
        span(style="font-size:14px;font-weight:200")=  project.tagline.split(' ').slice(0,25).join(' ')
      p(style="font-size:14px;font-weight:200;padding:0px 10px;")
        span.fa.fa-map-marker.fa-lg
        span(style="margin:0px 6px;")= project.location